* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-page: #000;
  --bg-input: #06181c;
  --bg-button: #065e7c;

  --neutral-colors-white: #fff;

  --platform-aliases-ttulos: #e1e1e6;
  --platform-aliases-placeholder: #7c7c8a;
  --semantic-clors-danger-light: #f75a68;

  --hue: 194;
  --primary-color: hsla(var(--hue), 72%, 13%, 1);
}

body {
  background-color: var(--bg-page);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
}

#app {
  max-width: 112rem;
  margin: 11.5rem auto;
}

/* custom table scrollbar */
table::-webkit-scrollbar {
  width: 2.2rem;
}

table::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: transparent;
  border-radius: 8rem;
  box-shadow: inset 0 0 0px 6px #4a808c;
  border: solid 8px transparent;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-wrapper {
  display: flex;
  gap: 1rem;
}

.input-wrapper input {
  height: 4.8rem;
  min-width: 46.2rem;
  border: none;
  padding: 1.6rem;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  font-size: 1.6rem;
  background-color: var(--bg-input);
  color: var(--platform-aliases-placeholder);
}

.input-wrapper .favorite {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  max-height: 4.8rem;
  padding: 1.2rem 3.2rem;
  border-radius: 0.5rem;

  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.4rem;

  background-color: var(--bg-button);
  color: var(--neutral-colors-white);
  transition: filter 300ms;
}

.input-wrapper .favorite:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

/* Table */
table.data {
  /* display: block; */
  margin-top: 9rem;
  width: 100%;
  /* height: 37.6rem; */

  /* border-collapse: collapse; */
  /* border collapse can't be used with border radius */
  border-spacing: 0;
  border-radius: 1.2rem;
  border: 1px solid #4a808c;
  /* add because the flex box won't let the border radius work */
  overflow: hidden;
}

table * {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: var(--platform-aliases-ttulos);
  /* width: 100%; */
}

table th {
  padding: 1.6rem 4rem;
  background: var(--primary-color);
  text-align: left;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1.2rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1.2rem;
}

tbody tr td {
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

/* bellow how to add a scrollbar on the tbody */
/* 
tbody {
  display: block;
  width: 100%;
  height: 36rem;
  overflow-y: overlay;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  
} 
  /* table-layout: fixed; */

/* ending block of code */

/* styling the scrollbar */
/* tbody::-webkit-scrollbar {
  scrollbar-gutter: stable;
  width: 0.6rem;
}
tbody::-webkit-scrollbar-button {
  display: none;
}

tbody::-webkit-scrollbar-track {
  /* width: 0.6rem; */
/* }

tbody::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

tbody::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4a808c;
} */

/* ending scrollbar  */

table tr:nth-child(even) {
  background: #092d38;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a span {
  font-weight: 400;
}

td.remove {
  color: var(--semantic-clors-danger-light);
}

td.remove:hover {
  cursor: pointer;
}

td.remove:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.data.empty {
  display: none;
}

.hide.empty {
  display: none;
}

/* empty table */

table.empty {
  height: 42rem;
}

tr.no-data td h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: hsla(189, 4%, 32%, 1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
